.gameArea {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: $primary;
    border-radius: 10px;
    overflow: hidden;

    img {
        width: 300px;
    }

    .volContainer {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        z-index: 15;

        i {
            padding-right: 15px;
            font-size: 4rem;
        }

        .turnUp {
            color: $timerC;
        }

        .turnOff {
            color: black;
        }
    }

    .bonusContainer {
        display: none;
        position: absolute;
        width: 50px;
        z-index: 25;
    }

    .score {
        position: absolute;
        bottom: 0;
        right: 5px;
        letter-spacing: 2px;
        font-weight: 700;
        display: none;
    }

    .topScore {
        position: absolute;
        bottom: 5px;
        left: 5px;
        font-weight: 700;
        background: $accent;
        border-radius: 10px;
        text-align: center;
        padding: 0 10px;
    }

    .timer {
        font-family: $timerFont;
        color: $timerC;
        position: absolute;
        top: 0;
        font-size: 13rem;
        line-height: 1.6;
        display: none;
    }

    .animate {
        animation: kittyDance 5s infinite;
    }

    .animateClick {
        transform: scale(1.05);
        transition: all 0.1s;
    }
}

@keyframes kittyDance {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(25deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}