.gameContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media (max-width: 620px) {
    .wrapper {
        max-width: 400px;
    }

    main .leaderboards {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
        height: 100vh;
        width: 100vw;
        display: none;

        i {
            display: block;
        }
    }

    .leaderboardsContainer {
        display: flex;
        justify-content: space-between;
    }

    aside {
        display: block;
    }
}

.leaderboards,
.gameArea {
    height: 80vh;
    border-radius: 10px;
    width: 100%;
}

.leaderboardsContainer {
    text-align: right;
    width: 100%;

    i {
        font-size: 5rem;
        display: none;
    }
}

.gameArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: $primary;
    overflow: hidden;
    max-width: 400px;
    min-width: 300px;

    img {
        width: 300px;
    }

    .volContainer {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        z-index: 15;

        i {
            padding-right: 15px;
            font-size: 4rem;
        }

        .turnUp {
            color: $timerC;
        }

        .turnOff {
            color: black;
        }
    }

    .bonusContainer {
        display: none;
        position: absolute;
        width: 75px;
        z-index: 25;
        transition: all 0.2s;
    }

    .score {
        position: absolute;
        bottom: 0;
        right: 5px;
        letter-spacing: 2px;
        font-weight: 700;
        display: none;
    }

    .topScore {
        position: absolute;
        bottom: 5px;
        left: 5px;
        font-weight: 700;
        background: $accent;
        border-radius: 10px;
        text-align: center;
        padding: 0 10px;
    }

    .timer {
        font-family: $timerFont;
        color: $timerC;
        position: absolute;
        top: 0;
        font-size: 13rem;
        line-height: 1.6;
        display: none;
    }

    .animate {
        animation: kittyDance 5s infinite;
    }

    .animateClick {
        transform: scale(1.05);
        transition: all 0.1s;
    }
}

@keyframes kittyDance {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(25deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes kittyDanceReverse {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-25deg);
    }

    60% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}