$headerFont: 'Pacifico', cursive;
$bodyFont: 'EB Garamond', serif;
$timerFont: 'Indie Flower', sans-serif;

$modalBackground: rgba(255, 255, 255, .9);
$bodyBackground: rgb(255, 250, 232);
$timerC: rgba(0, 0, 0, 0.3);
$primary: rgb(252, 236, 179);
$secondary: rgb(128, 128, 128);
$accent: rgb(252, 179, 196);