article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.5rem;
  font-family: "EB Garamond", serif;
  background: #fffae8;
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;
}

header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
}

header h1 {
  position: relative;
  bottom: -22px;
  z-index: 5;
}

main {
  position: relative;
}

main .startModal,
main .endModal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 75px 0;
  border-radius: 10px;
}

main .startModal button,
main .endModal button {
  background: #fcb3c4;
  border: 5px solid transparent;
  padding: 5px 25px;
  border-radius: 25px;
  margin-top: 25px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .startModal button:hover, main .startModal button:focus,
main .endModal button:hover,
main .endModal button:focus {
  border: 5px solid gray;
}

main .startModal button:active,
main .endModal button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

main .endModal {
  display: none;
}

main .endModal .finalScore {
  font-size: 7rem;
  font-weight: 700;
}

main .instructions {
  font-size: 1.6rem;
  margin-top: 15px;
}

span {
  display: block;
}

footer {
  height: 10vh;
  text-align: right;
  font-size: 1.6rem;
  padding-top: 5px;
}

footer a {
  color: black;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 10px;
}

footer a:hover, footer a:focus {
  background: #fcb3c4;
}

.gameArea {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #fcecb3;
  border-radius: 10px;
  overflow: hidden;
}

.gameArea img {
  width: 300px;
}

.gameArea .volContainer {
  position: absolute;
  top: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 15;
}

.gameArea .volContainer i {
  padding-right: 15px;
  font-size: 4rem;
}

.gameArea .volContainer .turnUp {
  color: rgba(0, 0, 0, 0.3);
}

.gameArea .volContainer .turnOff {
  color: black;
}

.gameArea .score {
  position: absolute;
  bottom: 0;
  right: 5px;
  letter-spacing: 2px;
  font-weight: 700;
  display: none;
}

.gameArea .topScore {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-weight: 700;
  background: #fcb3c4;
  border-radius: 10px;
  text-align: center;
  padding: 0 10px;
}

.gameArea .timer {
  font-family: "Indie Flower", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  font-size: 13rem;
  line-height: 1.6;
  display: none;
}

.gameArea .animate {
  -webkit-animation: kittyDance 5s infinite;
          animation: kittyDance 5s infinite;
}

.gameArea .animateClick {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

@-webkit-keyframes kittyDance {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes kittyDance {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
